[Unit]
Description=Orchard Controller
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=orchard-controller
ExecStart=/usr/bin/orchard controller run

[Install]
WantedBy=multi-user.target
